.checkoutContainer {
  background-color: var(--soft-gray);
  display: flex;
  flex-grow: 1;
}

.productCheckoutDetails {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2rem 4rem;
  width: 50%;
}

.productDetails {
  background-color: var(--soft-white);
  box-shadow: rgba(0, 0, 0, 0.24) 0.01rem 0.3rem 0.8rem;
  flex-grow: 1;
  padding: 4.4rem;
}

.reviewTitle {
  border-bottom: 0.1rem solid var(--soft-gray);
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.6rem;
  text-align: center;
}

.reviewTotal {
  border-top: 0.1rem solid #94979d;
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1.6rem;
  text-align: center;
}

.container {
  align-items: center;
  border-top: 1px solid var(--placeholder);
  display: flex;
  gap: 1.6rem;
  justify-content: center;
  padding: 1.6rem;
}

.title {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 700;
  white-space: break-spaces;
  width: 30rem;
}

.price {
  color: var(--gray);
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
}
