header {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  height: 10.8rem;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  width: 100%;
}

.searchLabel {
  background-color: var(--soft-white);
  display: flex;
  gap: 1.2rem;
  padding: 0.8rem;
}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.searchIcon {
  width: 2rem;
}

.searchInput {
  background-color: transparent;
  border: none;
  color: var(--placeholder);
  font-size: 1.6rem;
  font-weight: 300;
  outline: none;
}

.logo {
  width: 24.7rem;
}

.cardIcon {
  width: 4rem;
}
