:root {
--green: #31c28d;
--green-hover: #1b9c6d;
--gray: #444955;
--dark-gray: #1d1c1c;
--soft-gray: #ececec;
--blue: #003be5;
--soft-white: #ffffff;
--soft-red: #b60f0f;
--placeholder: #b0b3bb;
}

* {
	font-size: 10px;
	font-family: 'Epilogue', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
