.container {
  align-items: center;
  border-top: 1px solid var(--placeholder);
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  padding-top: 2rem;
  width: 100%;
}

.title {
  color: var(--gray);
  font-size: 1.6rem;
  white-space: break-spaces;
  width: 30rem;
}

.quantity {
  background-color: var(--placeholder);
  border-radius: 50%;
  color: var(--soft-white);
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
}

.btnQuantity {
  background-color: transparent;
  border: none;
  color: #b0b3bb;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: 700;
}

.btnQuantity:hover {
  color: var(--green);
}

.btnRemove {
  background-color: transparent;
  border: none;
  color: var(--dark-gray);
  font-size: 2rem;
  font-weight: 500;
}

.btnRemove:hover, .btnQuantityDecrease:hover {
  color: red;
}

.productPrice {
  color: var(--gray);
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
}
